<div class="row align-items-center justify-content-center">
  <h6 class="col-sm-4 my-2">Info pasager:</h6>
</div>
<div class="row align-items-center justify-content-center">
  <div class="col-sm-2">{{ summary.user.name }}</div>
  <div class="col-sm-2"></div>
</div>
<div class="row align-items-center justify-content-center">
  <div class="col-sm-2">{{ summary.user.phone }}</div>
  <div class="col-sm-2">{{ summary.user.email }}</div>
</div>
<div class="row align-items-center justify-content-center">
  <h6 class="col-sm-4 my-2">Traseu:</h6>
</div>

<div class="row align-items-center justify-content-center">
  <div class="col-sm-2">{{ summary.trajectory.from }}</div>
  <div class="col-sm-2">{{ summary.trajectory.to }}</div>
</div>
<div class="row align-items-center justify-content-center">
  <h6 class="col-sm-4 my-2">Masina:</h6>
</div>
<div class="row align-items-center justify-content-center">
  <div class="col-sm-2">{{ car.make }}</div>
  <div class="col-sm-2">{{ car.model }}</div>
</div>
<div class="row align-items-center justify-content-center">
  <h6 class="col-sm-4 my-2">Plecare la:</h6>
</div>
<div class="row align-items-center justify-content-center">
  <div class="col-sm-2">{{ summary.user.date }}</div>
  <div class="col-sm-2">{{ summary.user.time }}</div>
</div>
